<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark px-5 py-2 justify-content-between">
        <a class="navbar-brand fs-3" href="/">Todo List</a>
        <a class="btn btn-outline-warning" href="/"><i
            class="fa-solid fa-plus me-2"
          ></i>Create</a>
      </nav>
    </header>
    <main>
      <div class="container mt-3">
        {{{body}}}
      </div>
    </main>
    <script src="/javascript/bootstrap.bundle.js"></script>
    <script
      src="https://kit.fontawesome.com/9b3cbb68a9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>