<form action="" method="POST">
  <div class="mt-5 input-group">
    <div class="input-group-text">
      <input type="checkbox" class="form-check-input mt-0" name="isDone" />
    </div>
    <input
      class="form-control"
      type="text"
      placeholder="name"
      name="name"
      value="{{todo.name}}"
    />
  </div>
  <div class="mt-5 text-center">
    <button class="btn btn-success me-3" type="submit">Save</button>
    <a href="/">Back</a>
  </div>
</form>