<ul class="list-group">
  {{#each todos}}
    <li class="list-group-item mb-2">
      <div class="row align-items-center">
        <div class="col-auto me-auto">
          <input type="checkbox" name="isDone" />
          <h4 class="d-inline ms-2">
            {{this.name}}
          </h4>
        </div>
        <div class="col-auto">
          <a class="btn btn-info" href="/"><i
              class="fa-solid fa-circle-info"
            ></i></a>
          <a class="btn btn-success" href="/"><i
              class="fa-solid fa-pen-to-square"
            ></i></a>
          <form class="d-inline" action="" method="POST">
            <button class="btn btn-danger" type="submit"><i
                class="fa-solid fa-trash"
              ></i></button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>