<form action="/todos" method="POST">
  <div class="mt-5 input-group">
    <input class="form-control" type="text" placeholder="name" name="name" />
  </div>
  <div class="mt-5 text-center">
    <button class="btn btn-warning me-2" type="submit">Create</button>
    <a href="/">Back</a>
  </div>
</form>